* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}

body {
  background-color: #121212;
}

section {
  max-width: 1600px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
}
main section.page1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.page1 .page1-top {
  width: 100%;
}
main section.page1 .page1-top img {
  width: 100%;
  border-radius: 0.75rem;
}
main section.page1 .page1-bottom {
  width: 100%;
  background-color: #1e1e1e;
  border-radius: 0.75rem;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main section.page1 .page1-bottom p {
  font-size: 1rem;
}
main section.page1 .page1-bottom .page1-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.page1 .page1-bottom .page1-text h1 {
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 1.3;
  width: 95%;
  text-transform: uppercase;
}
main section.page1 .page1-bottom .page1-text p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.5;
}
main section.page1 .page1-bottom .page1-text button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  text-transform: uppercase;
  font-size: 0.85rem;
  background-color: transparent;
  color: #fff;
  font-weight: normal;
  display: flex;
  gap: 1rem;
  align-items: center;
}
main section.page1 .page1-bottom .page1-text button i {
  padding: 0.8rem;
  border-radius: 50%;
  background-color: #282828;
  border: 1px solid #393939;
}
main section.page2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.page2 .top, main section.page2 .bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
main section.page2 .top .text, main section.page2 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
main section.page2 .top .text small, main section.page2 .bottom .text small {
  font-size: 0.95rem;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.5;
}
main section.page2 .top .text h2, main section.page2 .bottom .text h2 {
  font-size: 2.3rem;
  font-weight: 400;
}
main section.page3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.page3 .top {
  width: 100%;
}
main section.page3 .top img {
  width: 100%;
  border-radius: 0.75rem;
}
main section.page3 .bottom {
  width: 100%;
  background-color: #1e1e1e;
  border-radius: 0.75rem;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main section.page3 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.page3 .bottom .text h1 {
  font-weight: 400;
  text-transform: uppercase;
  width: 90%;
}
main section.page3 .bottom .text .paragraphs {
  width: 97%;
  font-size: 1.02rem;
  line-height: 1.6;
  opacity: 0.5;
  font-weight: 400;
}
main section.page3 .bottom > p {
  font-size: 1rem;
  text-transform: uppercase;
}
main section.page4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.page4 .top {
  width: 100%;
}
main section.page4 .top img {
  width: 100%;
  border-radius: 0.75rem;
}
main section.page4 .bottom {
  width: 100%;
  background-color: #1e1e1e;
  border-radius: 0.75rem;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main section.page4 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.page4 .bottom .text h1 {
  font-weight: 400;
  text-transform: uppercase;
  width: 90%;
}
main section.page4 .bottom .text .paragraphs {
  width: 97%;
  font-size: 1.02rem;
  line-height: 1.6;
  opacity: 0.5;
  font-weight: 400;
}
main section.page4 .bottom > p {
  font-size: 1rem;
  text-transform: uppercase;
}
main .view1 {
  width: 100%;
  padding: 1rem 1.5rem;
}
main .view1 h1 {
  text-align: left;
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: uppercase;
}
main .view1 button {
  display: none;
}
main section.page5 {
  width: 100%;
  gap: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.page5 .card {
  width: 100%;
  background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01-p-800.webp);
  background-size: cover;
  aspect-ratio: 1/1;
  padding: 2rem 1rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
}
main section.page5 .card .icon, main section.page5 .card .bottom {
  background-color: rgba(96, 92, 92, 0.3019607843);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  padding: 0.5rem;
  border-radius: 0.3rem;
}
main section.page5 .card .top {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
main section.page5 .card .top .icon {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.7rem;
  border-radius: 50%;
  border: 1px solid #555;
}
main section.page5 .card .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
main section.page5 .card .bottom h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 400;
}
main section.page5 .card .bottom p {
  text-transform: uppercase;
}
main section.page5 .card:nth-child(2) {
  background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd2e12fa747e999689_team-02-p-800.webp);
}
main section.page5 .card:nth-child(2) .bottom {
  background-color: rgba(63, 61, 61, 0.8);
}
main section.page5 .card:nth-child(3) {
  background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdc1f945f817bf4fd7_team-03-p-800.webp);
}
main section.page6 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.page6 .top {
  width: 100%;
  border-radius: 0.7rem;
  overflow: hidden;
}
main section.page6 .top img {
  width: 100%;
}
main section.page6 .bottom {
  width: 100%;
  background-color: #1e1e1e;
  padding: 2rem 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-radius: 0.7rem;
}
main section.page6 .bottom .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.page6 .bottom .text p {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.6;
  text-transform: uppercase;
}
main section.page6 .bottom .text h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 300;
}
main section.page6 .bottom button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  text-transform: uppercase;
  font-size: 0.85rem;
  background-color: transparent;
  color: #fff;
  font-weight: normal;
  display: flex;
  gap: 1rem;
  align-items: center;
}
main section.page6 .bottom button i {
  opacity: 0.7;
  font-weight: 100;
  font-size: 1.3rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #282828;
  border: 1px solid #393939;
}

@media (min-width: 900px) {
  main section.page1 {
    flex-direction: row;
    width: 100%;
  }
  main section.page1 .page1-top,
  main section.page1 .page1-bottom {
    width: 50%;
  }
  main section.page1 .page1-bottom {
    justify-content: space-between;
    padding: 4rem;
  }
  main section.page1 .page1-bottom .page1-text h1 {
    font-size: 4rem;
    font-weight: 400;
  }
  main section.page1 .page1-bottom .page1-text p {
    width: 90%;
  }
  main section.page1 .page1-bottom .page1-text button {
    margin-top: 2rem;
  }
  main section.page2 {
    flex-direction: row;
    padding: 2.4rem 0rem;
    width: 100%;
  }
  main section.page2 .top, main section.page2 .bottom {
    width: 50%;
  }
  main section.page2 .top .text small, main section.page2 .bottom .text small {
    font-size: 1rem;
  }
  main section.page2 .top .text h2, main section.page2 .bottom .text h2 {
    font-size: 4rem;
  }
  main section.page3 {
    flex-direction: row-reverse;
  }
  main section.page3 .top, main section.page3 .bottom {
    width: 50%;
  }
  main section.page3 .bottom {
    justify-content: space-between;
    padding: 4rem;
  }
  main section.page3 .bottom .text h1 {
    font-size: 3rem;
    font-weight: 400;
  }
  main section.page3 .bottom .text .paragraphs {
    display: flex;
    gap: 2rem;
  }
  main section.page3 .bottom .text .paragraphs p {
    font-size: 1.2rem;
    width: 97%;
  }
  main section.page4 {
    flex-direction: row;
  }
  main section.page4 .top, main section.page4 .bottom {
    width: 50%;
  }
  main section.page4 .bottom {
    justify-content: space-between;
    padding: 4rem;
  }
  main section.page4 .bottom .text h1 {
    font-size: 3rem;
    font-weight: 400;
  }
  main section.page4 .bottom .text .paragraphs {
    display: flex;
    gap: 2rem;
  }
  main section.page4 .bottom .text .paragraphs p {
    font-size: 1.2rem;
    width: 97%;
  }
  main .view1 {
    width: 100%;
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main .view1 h1 {
    font-size: 3rem;
  }
  main .view1 button {
    width: -moz-fit-content;
    width: fit-content;
    border: none;
    text-transform: uppercase;
    font-size: 0.85rem;
    background-color: transparent;
    color: #fff;
    font-weight: normal;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  main .view1 button i {
    font-weight: 100;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #282828;
    border: 1px solid #393939;
  }
  main section.page5 {
    flex-direction: row;
  }
  main section.page6 {
    flex-direction: row;
  }
  main section.page6 .top, main section.page6 .bottom {
    width: 50%;
  }
  main section.page6 .bottom {
    padding: 4rem;
    justify-content: space-between;
  }
  main section.page6 .bottom .text h1 {
    font-size: 3.3rem;
    line-height: 1.2;
  }
}/*# sourceMappingURL=style.css.map */